
#login-button {
    -fx-background-color: #0086fc;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 10;
    -fx-padding: 12 24 12 24;
    -fx-text-fill: white;
    -fx-font-size: 16 vmax;
    -fx-font-weight: bold;
}

#login-button:hover{
    -fx-background-color: #55bbff;
}

#login-button:pressed{
    -fx-background-color: #99ddff;
}

#game-button {
    -fx-min-width: 110;
    -fx-background-color: #0086fc;
    -fx-background-radius: 10;
    -fx-padding: 22 10 14 10;
    -fx-background-insets: 12 4 4 4;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16 vmax;
    -fx-font-weight: bold;

}


#tab {
    -fx-background-color: #0086fc;
    -fx-background-radius: 10 10 0 0;
    -fx-background-insets: 0 2 0 0 ;
    -fx-padding: 12 ;
    -fx-text-fill: white;
    -fx-font-size: 16 vmax;
    -fx-font-weight: bold;
}
#tab:hover,#game-button:hover{
    -fx-background-color: #66bbff;

}
#tab:pressed,#game-button:pressed{
    -fx-background-color: #99ddff;
}

#card{
    -fx-background-color: #ffffff;
    -fx-background-insets: 2 2 2 2;
    -fx-padding: 2;

}
#card:hover {
    -fx-opacity: 0.8;
}

#login-ko,#lobby-message,#login-ok,#drafted-message{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 20 vmax;
    -fx-font-weight: bold;
}

#login-ko{
    -fx-text-fill: #ff3922;
    -fx-font-size: 14 vmax;
}

#drafted-message{
    -fx-font-size: 24 vmax;
    -fx-background-radius: 0 0 0 0;
}

#drafted-schemas:hover{
    -fx-opacity: 0.65;
}

#tab-container{
    -fx-background-color: rgba(255,255,255,0.95);
    -fx-background-radius: 16 16  0 0;
    -fx-padding: 6 6 0 6;

}
#card-container{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 0 0  16 16;
    -fx-padding: 0 6 20 6;

}

#score-container{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#turn-indicator,#currently-playing{
    -fx-font-size: 14 vmax;
    -fx-padding:12 24 12 24;
    -fx-font-weight: bold;
}

#player-playing,#player-disconnected,#player-quitted,#player-info {
    -fx-background-radius: 10 10 0 0;
    -fx-background-insets: 0 0 0 0 ;
    -fx-padding:12 24 12 24 ;
    -fx-min-width: 160;
    -fx-text-fill: white;
    -fx-font-size: 16 vmax;
    -fx-font-weight: bold;
}


#player-playing{
     -fx-background-color: #139938;
 }
#player-quitted{
    -fx-background-color: #ff4848;
}
#player-disconnected{
    -fx-background-color: #949494;
}
#player-info{
    -fx-text-fill: #444444;
    -fx-background-color: #ffffff;
}


#player-playing:hover{
    -fx-background-color: #21aa33;
}
#player-quitted:hover{
    -fx-background-color: #ff6666;
}
#player-disconnected:hover{
    -fx-text-fill: #444444;
    -fx-background-color: #aaaaaa;
}
#player-info:hover{
    -fx-text-fill: #444444;
    -fx-background-color: #f8f8f8;
}


#player-playing:pressed{
    -fx-background-color: #2edd64;
}
#player-quitted:pressed{
    -fx-background-color: #ff857d;
}
#player-disconnected:pressed{
    -fx-text-fill: #444444;
    -fx-background-color: #bbbbbb;
}
#player-info:pressed{
    -fx-text-fill: #444444;
    -fx-background-color: #f4f4f4;
}

#top-section{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-padding: 20 20 30 20;

}

#round-dice{
    -fx-padding: 40 -20 0 20  ;
}

#favor-tokens{

    -fx-text-fill: #292929;
    -fx-background-radius: 16 16  0 0;
    -fx-padding: 12 20 8 20;
    -fx-font-size: 16 vmax;
    -fx-min-width: 100;
    -fx-font-weight: bold;
}


#player-schema{

    -fx-padding: 0 0 80 0;
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 16;
    -fx-background-insets: 0 0 54 0;


}


