
#login-button {
    -fx-background-color: #0086fc;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

#login-message{
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}