
#login-button {
    -fx-background-color: #0086fc;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 10;
    -fx-padding: 12 24 12 24;
    -fx-text-fill: white;
    -fx-font-size: 16 vmin;
    -fx-font-weight: bold;
}
#login-button:hover{
    -fx-background-color: #55bbff;
}
#login-button:pressed{
    -fx-background-color: #99ddff;
}

#game-button {
    -fx-min-width: 110;
    -fx-background-color: #0086fc;
    -fx-background-radius: 10;
    -fx-padding: 12 8 12 8;
    -fx-background-insets: 2;
    -fx-text-fill: white;
    -fx-font-size: 16 vmin;
    -fx-font-weight: bold;
}
#game-button:hover{
    -fx-background-color: #66bbff;
}
#game-button:pressed{
    -fx-background-color: #99ddff;
}
#tab {
    -fx-background-color: #0086fc;
    -fx-background-radius: 10 10 0 0;
    -fx-background-insets: 2 0 0 2 ;
    -fx-padding: 12 ;
    -fx-text-fill: white;
    -fx-font-size: 16 vmin;
    -fx-font-weight: bold;
}
#tab:hover{
    -fx-background-color: #66bbff;

}
#tab:pressed{
    -fx-background-color: #99ddff;
}

#card{
    -fx-background-color: #ffffff;
    -fx-background-insets: 2;
    -fx-padding: 2;

}
#card:hover {
    -fx-opacity: 0.8;
}
#login-ok{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 14 vmin;
    -fx-font-weight: bold;
}

#login-ko{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: red;
    -fx-font-size: 14 vmin;
    -fx-font-weight: bold;
}

#lobby-message{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 10;
    -fx-padding: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: black;
    -fx-font-size: 18 vmin;
    -fx-font-weight: bold;
}

#drafted-message{
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-padding: 10px;
    -fx-text-alignment: left;
    -fx-text-fill: black;
    -fx-font-size: 24 vmin;
    -fx-font-weight: bold;
}

#turn-indicator{
    -fx-font-size: 16 vmin;
    -fx-text-alignment: center;
    -fx-padding: 12 ;
    -fx-font-weight: bold;
}

#drafted-schemas:hover{
    -fx-opacity: 0.65;
}

#tab-container{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-background-radius: 10 10 0 0;
}
#card-container{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-border-image-width: 0 4 4 4 ;
    -fx-border-color: white;
}
#roundtrack-cell{

}